* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 200vh;
}

#player {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

#player img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 150px;
    height: 150px;
}

#player .bullet-point {
    position: relative;
    left: 98px;
    top: 0;
    display: inline-block;
    z-index: 2;
}

.bullet {
    width: 50px;
    user-select: none;
}